﻿@using System.Security.Claims

@{
    var givenName = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value ?? "guest";
    var surname = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Surname)?.Value;
    var email = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
    var avatar = User.Claims.FirstOrDefault(c => c.Type == "Avatar")?.Value ?? "/assets/images/avatars/default/default.png";
}
<a class="navbar-brand pe-sm-3" href="/">
    <span class="text-primary flex-shrink-0 me-2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" zoomAndPan="magnify" viewBox="80 200 1100 400" height="40" preserveAspectRatio="xMidYMid meet" version="1.0"><g fill="#000000" fill-opacity="1"><g transform="translate(186.648774, 539.677278)"><g><path d="M 25.417969 -15.949219 C 40.863281 -15.949219 54.320312 -37.875 59.804688 -51.828125 C 69.273438 -70.269531 78.242188 -89.703125 85.71875 -109.636719 C 87.710938 -115.121094 89.703125 -120.105469 92.195312 -125.585938 C 94.6875 -131.066406 96.679688 -136.550781 99.171875 -142.03125 C 99.671875 -143.527344 100.667969 -145.023438 101.167969 -146.515625 C 101.664062 -147.511719 102.164062 -149.007812 102.660156 -150.503906 C 103.160156 -152 102.164062 -152.996094 100.667969 -154.492188 C 99.671875 -154.988281 98.175781 -155.488281 96.679688 -155.488281 C 89.207031 -155.488281 84.71875 -143.527344 82.726562 -138.042969 C 81.230469 -134.554688 79.738281 -130.570312 78.242188 -127.082031 C 76.746094 -123.59375 75.75 -119.605469 74.253906 -116.117188 C 64.289062 -89.703125 49.835938 -54.320312 32.394531 -32.394531 C 30.898438 -30.898438 29.902344 -29.902344 28.90625 -29.402344 C 27.90625 -29.402344 27.410156 -29.402344 26.910156 -29.902344 C 26.414062 -30.398438 25.914062 -30.898438 25.914062 -31.394531 C 25.914062 -31.894531 25.914062 -32.394531 25.417969 -32.890625 C 23.421875 -38.375 23.421875 -42.859375 23.421875 -48.339844 C 21.429688 -84.222656 25.417969 -118.609375 32.890625 -152.996094 C 33.390625 -156.484375 35.382812 -158.976562 37.375 -162.464844 C 57.808594 -187.878906 97.679688 -241.203125 105.152344 -273.597656 C 106.148438 -279.078125 106.648438 -284.5625 106.148438 -289.046875 C 104.65625 -298.015625 98.675781 -303 89.207031 -303.996094 C 73.757812 -303.996094 67.277344 -295.523438 59.304688 -284.0625 C 23.921875 -232.734375 1.496094 -129.574219 1.496094 -65.285156 C 0.996094 -57.808594 1.992188 -47.84375 3.488281 -37.375 C 3.488281 -25.914062 8.96875 -18.4375 20.433594 -16.445312 C 21.429688 -15.949219 22.925781 -15.949219 25.417969 -15.949219 Z M 44.851562 -196.351562 L 44.355469 -196.851562 C 44.355469 -197.347656 44.355469 -198.347656 44.355469 -198.84375 C 43.855469 -199.34375 43.855469 -199.839844 44.355469 -200.339844 C 52.824219 -232.234375 63.789062 -260.640625 83.226562 -287.054688 C 84.71875 -288.546875 88.707031 -292.035156 90.203125 -292.035156 C 91.199219 -292.035156 92.195312 -291.539062 92.695312 -290.042969 L 92.695312 -285.558594 C 91.699219 -263.628906 62.792969 -216.785156 49.335938 -199.839844 C 48.339844 -198.347656 47.34375 -197.347656 45.847656 -196.351562 Z M 44.851562 -196.351562 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(260.404811, 539.677278)"><g><path d="M 79.238281 -47.34375 C 84.222656 -47.34375 88.707031 -49.335938 93.191406 -53.324219 C 97.179688 -56.8125 100.667969 -60.300781 104.15625 -64.289062 C 109.140625 -70.765625 114.125 -78.242188 119.605469 -85.71875 L 140.535156 -118.609375 C 143.027344 -122.097656 145.023438 -126.085938 147.511719 -130.070312 C 149.507812 -134.058594 151.5 -138.042969 153.992188 -142.03125 C 155.488281 -144.523438 155.984375 -147.015625 156.484375 -148.511719 C 156.484375 -148.511719 156.484375 -149.007812 156.484375 -150.503906 C 155.984375 -152.996094 153.992188 -153.992188 150.503906 -153.992188 C 149.007812 -153.992188 148.011719 -153.492188 147.511719 -152.496094 C 145.519531 -150.503906 144.023438 -148.011719 143.027344 -145.519531 C 132.5625 -125.585938 105.652344 -83.226562 89.703125 -67.277344 C 88.210938 -65.78125 86.714844 -64.785156 85.21875 -63.789062 C 83.722656 -62.292969 82.230469 -61.296875 80.234375 -60.300781 C 79.738281 -60.300781 79.738281 -60.300781 79.738281 -60.300781 C 79.738281 -59.804688 79.738281 -59.804688 79.238281 -59.804688 C 77.742188 -59.804688 76.746094 -60.800781 75.75 -62.292969 C 74.253906 -67.777344 75.75 -73.257812 76.25 -78.742188 C 79.738281 -95.1875 82.726562 -110.636719 88.707031 -126.085938 C 92.695312 -135.554688 96.679688 -145.023438 100.167969 -154.492188 C 102.660156 -157.980469 110.636719 -180.40625 110.636719 -182.898438 C 111.132812 -185.386719 110.136719 -186.882812 108.144531 -187.878906 C 106.648438 -189.375 105.152344 -189.875 103.160156 -189.875 C 100.667969 -189.875 98.675781 -188.878906 97.179688 -186.386719 C 95.1875 -182.898438 93.191406 -180.40625 91.199219 -177.914062 L 76.25 -156.484375 C 74.753906 -154.988281 73.757812 -153.992188 72.761719 -153.492188 C 72.761719 -153.492188 72.261719 -153.492188 70.765625 -153.492188 L 68.273438 -158.976562 C 62.292969 -168.445312 53.824219 -172.929688 43.355469 -172.929688 C 36.878906 -172.929688 30.398438 -170.9375 24.417969 -166.449219 C 20.433594 -162.960938 16.945312 -159.472656 13.457031 -153.992188 C 11.460938 -150.503906 9.46875 -147.511719 7.476562 -144.523438 C 5.480469 -141.035156 3.488281 -137.546875 1.496094 -134.058594 C -4.484375 -122.59375 -7.476562 -110.136719 -7.476562 -96.679688 C -5.980469 -84.71875 2.988281 -78.242188 14.453125 -76.746094 L 17.441406 -76.746094 C 20.929688 -76.746094 23.921875 -77.742188 25.914062 -79.238281 C 35.382812 -87.210938 42.859375 -94.6875 50.832031 -104.15625 C 52.328125 -105.652344 53.324219 -106.648438 54.820312 -108.144531 L 55.816406 -108.144531 C 56.8125 -107.148438 57.3125 -106.648438 57.3125 -106.648438 C 57.3125 -106.148438 57.3125 -105.152344 57.3125 -104.65625 C 56.8125 -103.65625 56.8125 -102.660156 56.8125 -102.164062 C 56.3125 -98.175781 55.316406 -94.1875 54.820312 -90.203125 C 53.824219 -86.214844 53.324219 -82.230469 52.824219 -77.742188 C 52.824219 -62.292969 61.796875 -47.34375 79.238281 -47.34375 Z M 17.441406 -93.691406 C 15.949219 -94.1875 15.449219 -96.183594 15.449219 -98.675781 C 17.941406 -116.617188 36.378906 -163.460938 52.328125 -163.460938 C 54.320312 -163.460938 55.816406 -162.464844 56.8125 -160.472656 C 58.308594 -158.476562 58.804688 -156.980469 59.304688 -155.984375 C 59.804688 -152.496094 61.796875 -150.003906 65.78125 -148.511719 C 67.277344 -148.011719 67.777344 -146.515625 67.277344 -144.523438 C 67.277344 -144.523438 66.78125 -144.023438 66.28125 -143.527344 C 54.820312 -128.078125 43.855469 -114.621094 29.902344 -101.167969 C 28.40625 -99.671875 26.910156 -98.675781 25.417969 -97.679688 C 23.921875 -96.679688 21.925781 -95.683594 20.433594 -94.1875 C 19.933594 -93.691406 18.9375 -93.691406 17.441406 -93.691406 Z M 17.441406 -93.691406 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(391.969652, 539.677278)"><g><path d="M 13.953125 41.363281 C 31.394531 39.371094 41.863281 28.90625 48.339844 13.457031 C 62.292969 -16.445312 71.265625 -46.347656 76.746094 -78.742188 C 77.246094 -82.726562 78.742188 -85.71875 81.230469 -88.210938 C 89.703125 -97.679688 98.175781 -106.648438 106.648438 -116.117188 C 115.121094 -125.585938 123.59375 -134.554688 132.5625 -143.027344 L 137.046875 -148.011719 C 138.542969 -149.507812 137.046875 -152.496094 135.554688 -152.996094 C 134.058594 -153.992188 132.5625 -154.492188 130.070312 -154.492188 C 127.578125 -154.492188 125.085938 -153.492188 123.59375 -151.5 C 113.625 -140.039062 103.65625 -129.574219 93.191406 -119.105469 C 90.699219 -116.617188 88.210938 -114.125 85.71875 -112.128906 C 85.21875 -111.632812 84.222656 -111.632812 83.226562 -112.128906 C 83.226562 -112.128906 83.226562 -112.628906 82.726562 -113.125 L 82.726562 -118.609375 C 84.71875 -135.054688 87.210938 -151.5 89.703125 -167.449219 L 89.703125 -175.917969 L 88.210938 -178.910156 C 86.214844 -181.402344 83.722656 -182.898438 80.234375 -182.898438 C 77.742188 -182.898438 75.75 -181.898438 74.253906 -179.90625 L 60.800781 -161.964844 C 54.820312 -153.492188 48.839844 -145.519531 42.859375 -138.542969 C 41.363281 -137.046875 39.867188 -135.054688 38.375 -133.558594 C 36.878906 -132.0625 34.886719 -130.070312 33.390625 -128.574219 C 31.894531 -128.078125 30.898438 -127.578125 29.902344 -127.578125 C 29.402344 -127.578125 28.40625 -130.070312 28.90625 -131.566406 C 28.90625 -133.0625 29.402344 -135.054688 29.902344 -137.546875 L 34.386719 -152.996094 C 34.886719 -154.988281 35.382812 -156.980469 35.882812 -158.976562 C 36.378906 -160.96875 36.378906 -162.960938 36.878906 -164.457031 C 36.878906 -165.953125 36.378906 -167.449219 35.882812 -168.941406 C 32.394531 -172.429688 29.902344 -172.929688 25.417969 -172.929688 C 23.921875 -172.429688 22.925781 -171.433594 22.425781 -170.9375 C 17.441406 -168.445312 7.476562 -135.054688 7.476562 -128.574219 C 5.480469 -116.117188 11.460938 -111.632812 18.9375 -108.144531 C 20.433594 -107.644531 22.425781 -106.648438 24.417969 -106.148438 C 26.910156 -106.148438 28.90625 -106.648438 31.394531 -107.148438 C 34.886719 -108.640625 37.875 -111.132812 39.867188 -113.625 L 54.320312 -130.570312 C 55.816406 -132.5625 57.808594 -134.554688 59.304688 -137.046875 C 60.800781 -139.042969 62.292969 -141.035156 63.789062 -143.527344 C 65.285156 -145.023438 66.28125 -145.023438 66.78125 -144.523438 C 67.277344 -144.023438 67.277344 -144.023438 67.277344 -143.527344 C 67.277344 -143.027344 67.277344 -142.03125 67.777344 -141.535156 C 67.777344 -141.035156 67.777344 -140.535156 67.277344 -140.535156 C 63.789062 -121.101562 60.800781 -102.164062 56.8125 -82.726562 C 56.3125 -80.234375 55.316406 -78.242188 53.824219 -76.746094 C 52.328125 -74.253906 50.335938 -72.261719 48.339844 -70.269531 C 41.863281 -62.792969 35.882812 -55.816406 29.402344 -48.339844 C 22.925781 -40.863281 16.945312 -33.390625 10.464844 -25.914062 C 2.988281 -17.941406 -5.980469 -3.488281 -9.46875 6.976562 C -11.960938 16.445312 -10.464844 23.921875 -6.480469 31.894531 C -0.996094 39.371094 4.484375 41.363281 13.953125 41.363281 Z M 9.46875 32.890625 C 5.480469 31.394531 4.484375 26.910156 2.988281 23.421875 C 2.492188 21.925781 2.492188 20.929688 2.492188 19.933594 C 2.492188 18.9375 2.492188 18.4375 2.492188 17.941406 C 2.492188 1.496094 34.386719 -42.359375 48.339844 -49.335938 C 49.835938 -49.335938 49.835938 -47.84375 49.335938 -45.351562 C 49.335938 -44.851562 49.335938 -44.851562 48.839844 -44.355469 C 42.359375 -22.925781 31.394531 14.949219 18.9375 27.410156 C 15.449219 30.898438 13.953125 32.890625 9.46875 32.890625 Z M 9.46875 32.890625 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(504.597149, 539.677278)"><g><path d="M 117.113281 -29.902344 C 120.601562 -29.902344 123.09375 -30.898438 125.085938 -33.390625 C 128.574219 -36.878906 131.066406 -40.863281 133.558594 -44.851562 C 141.035156 -56.3125 147.015625 -68.273438 153.492188 -80.734375 C 158.976562 -90.699219 163.960938 -100.667969 168.941406 -111.132812 C 173.925781 -121.101562 178.910156 -131.066406 183.894531 -141.035156 C 184.390625 -142.03125 185.386719 -143.027344 185.886719 -144.523438 C 186.386719 -145.519531 186.882812 -146.515625 187.382812 -147.511719 L 187.878906 -149.507812 C 188.878906 -151.5 188.378906 -152.996094 185.886719 -154.492188 C 184.890625 -154.988281 183.394531 -155.488281 181.898438 -155.488281 C 179.90625 -155.488281 177.914062 -154.492188 176.417969 -152.496094 L 171.433594 -143.527344 C 164.957031 -131.066406 158.476562 -119.105469 152 -105.652344 C 143.527344 -89.207031 135.054688 -72.761719 124.589844 -56.8125 C 123.09375 -54.820312 122.097656 -52.824219 120.601562 -51.332031 C 119.605469 -50.335938 118.609375 -49.835938 117.613281 -50.335938 C 116.617188 -50.335938 116.117188 -50.832031 116.117188 -51.828125 C 116.117188 -53.824219 116.117188 -55.816406 116.117188 -57.808594 C 116.117188 -59.304688 116.117188 -61.296875 116.617188 -62.792969 C 117.613281 -67.277344 118.609375 -72.261719 119.605469 -77.246094 C 120.105469 -81.730469 121.101562 -86.714844 122.59375 -91.199219 C 125.085938 -102.164062 128.078125 -113.125 131.566406 -124.089844 C 134.554688 -135.054688 137.546875 -146.019531 140.535156 -156.980469 C 141.035156 -159.972656 142.03125 -162.960938 143.027344 -166.449219 C 144.023438 -169.441406 145.023438 -172.429688 145.519531 -175.917969 C 147.015625 -180.902344 147.511719 -186.386719 147.511719 -192.367188 C 147.015625 -198.347656 140.039062 -202.832031 134.554688 -202.832031 C 128.574219 -202.832031 120.601562 -194.855469 117.113281 -190.371094 C 105.652344 -178.410156 96.183594 -164.957031 87.710938 -151.5 L 79.238281 -138.542969 C 77.742188 -137.046875 76.746094 -135.554688 76.25 -135.054688 C 76.25 -134.554688 75.75 -134.554688 74.253906 -134.554688 L 73.757812 -135.554688 L 73.757812 -153.492188 C 73.257812 -159.472656 66.78125 -163.460938 61.296875 -163.460938 C 58.804688 -163.460938 56.3125 -161.964844 54.320312 -159.472656 L 46.84375 -150.503906 L 28.90625 -123.09375 L 27.90625 -123.09375 C 27.410156 -123.09375 27.410156 -123.09375 26.910156 -123.59375 C 25.417969 -127.578125 26.414062 -130.570312 27.90625 -134.058594 C 30.398438 -145.519531 32.890625 -155.984375 34.886719 -167.449219 C 35.882812 -171.433594 36.378906 -175.421875 36.378906 -179.90625 C 36.878906 -183.394531 34.886719 -185.386719 31.394531 -186.882812 C 30.898438 -187.382812 29.902344 -187.382812 28.40625 -187.382812 C 25.914062 -187.382812 24.417969 -186.386719 23.921875 -183.894531 C 22.425781 -180.902344 21.429688 -177.914062 20.433594 -174.921875 C 19.4375 -171.433594 18.4375 -168.445312 16.945312 -165.453125 C 11.460938 -148.011719 8.472656 -131.566406 4.984375 -114.125 C 4.984375 -112.628906 4.984375 -111.132812 4.984375 -109.636719 C 4.484375 -108.144531 4.484375 -106.148438 4.984375 -104.65625 C 5.480469 -99.171875 7.972656 -95.683594 12.457031 -93.691406 C 12.957031 -93.191406 13.953125 -93.191406 14.453125 -93.191406 C 14.949219 -93.191406 15.449219 -93.191406 15.949219 -92.695312 C 16.945312 -92.195312 18.4375 -92.195312 19.933594 -92.195312 C 22.425781 -92.195312 24.417969 -93.191406 26.414062 -95.683594 C 27.90625 -97.179688 28.90625 -99.171875 29.902344 -101.167969 C 30.898438 -102.660156 31.894531 -104.65625 33.390625 -106.648438 C 35.382812 -110.136719 37.375 -114.125 39.371094 -117.613281 C 40.863281 -121.101562 42.859375 -124.589844 44.851562 -128.078125 C 45.847656 -129.574219 46.84375 -131.566406 48.339844 -133.0625 C 49.335938 -134.554688 50.335938 -136.050781 51.332031 -137.546875 C 51.828125 -138.042969 51.828125 -138.042969 52.328125 -138.042969 C 53.324219 -137.546875 53.824219 -137.046875 53.824219 -136.550781 C 53.824219 -133.0625 53.324219 -130.570312 52.824219 -127.082031 L 51.332031 -115.617188 C 50.832031 -109.140625 53.324219 -105.152344 59.304688 -102.660156 C 59.804688 -102.164062 60.800781 -102.164062 61.796875 -101.664062 C 62.792969 -101.167969 63.789062 -101.167969 64.785156 -100.667969 L 66.78125 -100.667969 C 73.257812 -100.667969 76.746094 -107.148438 80.234375 -112.628906 L 93.191406 -135.054688 C 97.179688 -143.527344 114.621094 -173.429688 122.59375 -178.410156 C 124.589844 -178.910156 125.085938 -178.410156 124.089844 -176.917969 C 123.59375 -175.421875 123.09375 -173.925781 123.09375 -172.429688 C 122.59375 -170.9375 122.097656 -169.441406 121.597656 -167.945312 C 108.144531 -134.058594 98.175781 -98.675781 94.6875 -62.792969 C 93.691406 -56.8125 94.1875 -50.832031 95.683594 -44.355469 C 96.679688 -38.871094 100.167969 -34.386719 105.652344 -31.894531 C 109.140625 -29.902344 113.125 -29.902344 117.113281 -29.902344 Z M 117.113281 -29.902344 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(668.056496, 539.677278)"><g><path d="M 79.238281 -47.34375 C 84.222656 -47.34375 88.707031 -49.335938 93.191406 -53.324219 C 97.179688 -56.8125 100.667969 -60.300781 104.15625 -64.289062 C 109.140625 -70.765625 114.125 -78.242188 119.605469 -85.71875 L 140.535156 -118.609375 C 143.027344 -122.097656 145.023438 -126.085938 147.511719 -130.070312 C 149.507812 -134.058594 151.5 -138.042969 153.992188 -142.03125 C 155.488281 -144.523438 155.984375 -147.015625 156.484375 -148.511719 C 156.484375 -148.511719 156.484375 -149.007812 156.484375 -150.503906 C 155.984375 -152.996094 153.992188 -153.992188 150.503906 -153.992188 C 149.007812 -153.992188 148.011719 -153.492188 147.511719 -152.496094 C 145.519531 -150.503906 144.023438 -148.011719 143.027344 -145.519531 C 132.5625 -125.585938 105.652344 -83.226562 89.703125 -67.277344 C 88.210938 -65.78125 86.714844 -64.785156 85.21875 -63.789062 C 83.722656 -62.292969 82.230469 -61.296875 80.234375 -60.300781 C 79.738281 -60.300781 79.738281 -60.300781 79.738281 -60.300781 C 79.738281 -59.804688 79.738281 -59.804688 79.238281 -59.804688 C 77.742188 -59.804688 76.746094 -60.800781 75.75 -62.292969 C 74.253906 -67.777344 75.75 -73.257812 76.25 -78.742188 C 79.738281 -95.1875 82.726562 -110.636719 88.707031 -126.085938 C 92.695312 -135.554688 96.679688 -145.023438 100.167969 -154.492188 C 102.660156 -157.980469 110.636719 -180.40625 110.636719 -182.898438 C 111.132812 -185.386719 110.136719 -186.882812 108.144531 -187.878906 C 106.648438 -189.375 105.152344 -189.875 103.160156 -189.875 C 100.667969 -189.875 98.675781 -188.878906 97.179688 -186.386719 C 95.1875 -182.898438 93.191406 -180.40625 91.199219 -177.914062 L 76.25 -156.484375 C 74.753906 -154.988281 73.757812 -153.992188 72.761719 -153.492188 C 72.761719 -153.492188 72.261719 -153.492188 70.765625 -153.492188 L 68.273438 -158.976562 C 62.292969 -168.445312 53.824219 -172.929688 43.355469 -172.929688 C 36.878906 -172.929688 30.398438 -170.9375 24.417969 -166.449219 C 20.433594 -162.960938 16.945312 -159.472656 13.457031 -153.992188 C 11.460938 -150.503906 9.46875 -147.511719 7.476562 -144.523438 C 5.480469 -141.035156 3.488281 -137.546875 1.496094 -134.058594 C -4.484375 -122.59375 -7.476562 -110.136719 -7.476562 -96.679688 C -5.980469 -84.71875 2.988281 -78.242188 14.453125 -76.746094 L 17.441406 -76.746094 C 20.929688 -76.746094 23.921875 -77.742188 25.914062 -79.238281 C 35.382812 -87.210938 42.859375 -94.6875 50.832031 -104.15625 C 52.328125 -105.652344 53.324219 -106.648438 54.820312 -108.144531 L 55.816406 -108.144531 C 56.8125 -107.148438 57.3125 -106.648438 57.3125 -106.648438 C 57.3125 -106.148438 57.3125 -105.152344 57.3125 -104.65625 C 56.8125 -103.65625 56.8125 -102.660156 56.8125 -102.164062 C 56.3125 -98.175781 55.316406 -94.1875 54.820312 -90.203125 C 53.824219 -86.214844 53.324219 -82.230469 52.824219 -77.742188 C 52.824219 -62.292969 61.796875 -47.34375 79.238281 -47.34375 Z M 17.441406 -93.691406 C 15.949219 -94.1875 15.449219 -96.183594 15.449219 -98.675781 C 17.941406 -116.617188 36.378906 -163.460938 52.328125 -163.460938 C 54.320312 -163.460938 55.816406 -162.464844 56.8125 -160.472656 C 58.308594 -158.476562 58.804688 -156.980469 59.304688 -155.984375 C 59.804688 -152.496094 61.796875 -150.003906 65.78125 -148.511719 C 67.277344 -148.011719 67.777344 -146.515625 67.277344 -144.523438 C 67.277344 -144.523438 66.78125 -144.023438 66.28125 -143.527344 C 54.820312 -128.078125 43.855469 -114.621094 29.902344 -101.167969 C 28.40625 -99.671875 26.910156 -98.675781 25.417969 -97.679688 C 23.921875 -96.679688 21.925781 -95.683594 20.433594 -94.1875 C 19.933594 -93.691406 18.9375 -93.691406 17.441406 -93.691406 Z M 17.441406 -93.691406 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(799.621336, 539.677278)"><g><path d="M 79.238281 -47.34375 C 84.222656 -47.34375 88.707031 -49.335938 93.191406 -53.324219 C 97.179688 -56.8125 100.667969 -60.300781 104.15625 -64.289062 C 109.140625 -70.765625 114.125 -78.242188 119.605469 -85.71875 L 140.535156 -118.609375 C 143.027344 -122.097656 145.023438 -126.085938 147.511719 -130.070312 C 149.507812 -134.058594 151.5 -138.042969 153.992188 -142.03125 C 155.488281 -144.523438 155.984375 -147.015625 156.484375 -148.511719 C 156.484375 -148.511719 156.484375 -149.007812 156.484375 -150.503906 C 155.984375 -152.996094 153.992188 -153.992188 150.503906 -153.992188 C 149.007812 -153.992188 148.011719 -153.492188 147.511719 -152.496094 C 145.519531 -150.503906 144.023438 -148.011719 143.027344 -145.519531 C 132.5625 -125.585938 105.652344 -83.226562 89.703125 -67.277344 C 88.210938 -65.78125 86.714844 -64.785156 85.21875 -63.789062 C 83.722656 -62.292969 82.230469 -61.296875 80.234375 -60.300781 C 79.738281 -60.300781 79.738281 -60.300781 79.738281 -60.300781 C 79.738281 -59.804688 79.738281 -59.804688 79.238281 -59.804688 C 77.742188 -59.804688 76.746094 -60.800781 75.75 -62.292969 C 74.253906 -67.777344 75.75 -73.257812 76.25 -78.742188 C 79.738281 -95.1875 82.726562 -110.636719 88.707031 -126.085938 C 92.695312 -135.554688 96.679688 -145.023438 100.167969 -154.492188 C 102.660156 -157.980469 110.636719 -180.40625 110.636719 -182.898438 C 111.132812 -185.386719 110.136719 -186.882812 108.144531 -187.878906 C 106.648438 -189.375 105.152344 -189.875 103.160156 -189.875 C 100.667969 -189.875 98.675781 -188.878906 97.179688 -186.386719 C 95.1875 -182.898438 93.191406 -180.40625 91.199219 -177.914062 L 76.25 -156.484375 C 74.753906 -154.988281 73.757812 -153.992188 72.761719 -153.492188 C 72.761719 -153.492188 72.261719 -153.492188 70.765625 -153.492188 L 68.273438 -158.976562 C 62.292969 -168.445312 53.824219 -172.929688 43.355469 -172.929688 C 36.878906 -172.929688 30.398438 -170.9375 24.417969 -166.449219 C 20.433594 -162.960938 16.945312 -159.472656 13.457031 -153.992188 C 11.460938 -150.503906 9.46875 -147.511719 7.476562 -144.523438 C 5.480469 -141.035156 3.488281 -137.546875 1.496094 -134.058594 C -4.484375 -122.59375 -7.476562 -110.136719 -7.476562 -96.679688 C -5.980469 -84.71875 2.988281 -78.242188 14.453125 -76.746094 L 17.441406 -76.746094 C 20.929688 -76.746094 23.921875 -77.742188 25.914062 -79.238281 C 35.382812 -87.210938 42.859375 -94.6875 50.832031 -104.15625 C 52.328125 -105.652344 53.324219 -106.648438 54.820312 -108.144531 L 55.816406 -108.144531 C 56.8125 -107.148438 57.3125 -106.648438 57.3125 -106.648438 C 57.3125 -106.148438 57.3125 -105.152344 57.3125 -104.65625 C 56.8125 -103.65625 56.8125 -102.660156 56.8125 -102.164062 C 56.3125 -98.175781 55.316406 -94.1875 54.820312 -90.203125 C 53.824219 -86.214844 53.324219 -82.230469 52.824219 -77.742188 C 52.824219 -62.292969 61.796875 -47.34375 79.238281 -47.34375 Z M 17.441406 -93.691406 C 15.949219 -94.1875 15.449219 -96.183594 15.449219 -98.675781 C 17.941406 -116.617188 36.378906 -163.460938 52.328125 -163.460938 C 54.320312 -163.460938 55.816406 -162.464844 56.8125 -160.472656 C 58.308594 -158.476562 58.804688 -156.980469 59.304688 -155.984375 C 59.804688 -152.496094 61.796875 -150.003906 65.78125 -148.511719 C 67.277344 -148.011719 67.777344 -146.515625 67.277344 -144.523438 C 67.277344 -144.523438 66.78125 -144.023438 66.28125 -143.527344 C 54.820312 -128.078125 43.855469 -114.621094 29.902344 -101.167969 C 28.40625 -99.671875 26.910156 -98.675781 25.417969 -97.679688 C 23.921875 -96.679688 21.925781 -95.683594 20.433594 -94.1875 C 19.933594 -93.691406 18.9375 -93.691406 17.441406 -93.691406 Z M 17.441406 -93.691406 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(931.186214, 539.677278)"><g><path d="M 69.769531 -26.910156 C 73.257812 -26.910156 76.746094 -27.90625 79.738281 -29.402344 C 83.226562 -31.894531 86.714844 -34.886719 89.207031 -38.375 L 98.175781 -51.828125 C 104.65625 -63.292969 111.632812 -74.753906 118.109375 -86.214844 C 124.589844 -97.179688 131.066406 -108.640625 137.546875 -120.105469 C 140.039062 -124.589844 142.53125 -129.074219 144.523438 -133.558594 C 146.515625 -138.042969 148.511719 -143.027344 151.003906 -147.511719 C 152.496094 -150.003906 151.003906 -152 147.511719 -152.496094 C 147.015625 -152.996094 146.019531 -152.996094 145.023438 -152.996094 C 143.027344 -152.996094 141.535156 -152 140.535156 -150.503906 L 135.554688 -141.035156 C 120.105469 -111.132812 103.160156 -82.726562 83.722656 -54.820312 C 81.730469 -52.328125 79.738281 -49.835938 77.246094 -47.84375 C 77.246094 -47.34375 76.746094 -47.34375 75.25 -47.34375 C 75.25 -47.84375 75.25 -47.84375 74.753906 -48.339844 C 73.257812 -52.328125 74.753906 -56.3125 75.25 -60.300781 C 79.238281 -80.234375 83.722656 -99.671875 89.207031 -119.605469 L 101.167969 -165.953125 C 102.164062 -170.9375 102.660156 -175.917969 102.660156 -180.902344 C 102.164062 -185.386719 100.167969 -188.378906 97.179688 -189.875 L 94.1875 -191.367188 C 93.191406 -191.867188 91.699219 -192.367188 89.703125 -192.367188 C 83.226562 -192.367188 73.257812 -177.414062 70.269531 -171.433594 L 46.347656 -127.082031 C 39.867188 -115.617188 32.394531 -104.65625 24.917969 -93.191406 C 24.417969 -92.695312 23.921875 -92.195312 22.425781 -91.699219 C 20.929688 -91.199219 20.433594 -92.195312 20.433594 -95.1875 C 20.433594 -97.679688 20.433594 -99.671875 20.929688 -101.167969 C 22.425781 -107.644531 23.421875 -114.621094 24.917969 -121.597656 C 25.914062 -128.574219 27.410156 -135.554688 28.90625 -142.53125 C 29.402344 -146.019531 30.398438 -149.507812 31.394531 -152.996094 C 31.894531 -155.984375 32.890625 -159.472656 33.390625 -162.960938 C 33.886719 -165.953125 32.394531 -167.945312 29.902344 -169.441406 L 26.910156 -170.9375 L 25.914062 -170.9375 C 22.425781 -170.9375 20.433594 -168.445312 18.9375 -164.957031 L 14.453125 -152.996094 C 6.976562 -130.570312 2.988281 -107.644531 0.996094 -84.222656 C 0 -76.746094 2.988281 -71.761719 9.46875 -68.773438 L 11.460938 -68.273438 C 13.953125 -67.277344 16.445312 -66.78125 17.941406 -66.78125 C 21.925781 -66.78125 24.917969 -68.273438 27.410156 -71.761719 C 29.902344 -74.253906 31.894531 -76.746094 33.390625 -80.234375 C 41.363281 -93.691406 49.335938 -107.644531 56.8125 -121.101562 L 77.246094 -157.980469 C 77.742188 -159.472656 78.742188 -160.472656 79.238281 -160.96875 L 81.230469 -160.96875 C 81.230469 -160.96875 81.230469 -160.472656 81.730469 -159.972656 L 78.742188 -149.007812 C 72.261719 -128.574219 65.78125 -108.640625 60.300781 -87.210938 C 55.816406 -69.769531 53.824219 -56.3125 53.824219 -38.871094 C 54.320312 -35.382812 55.816406 -33.390625 58.308594 -31.894531 C 61.796875 -28.90625 65.285156 -27.410156 69.769531 -26.910156 Z M 69.769531 -26.910156 " /></g></g></g><g fill="#000000" fill-opacity="1"><g transform="translate(1057.767543, 539.677278)"><g><path d="M 69.769531 -26.910156 C 73.257812 -26.910156 76.746094 -27.90625 79.738281 -29.402344 C 83.226562 -31.894531 86.714844 -34.886719 89.207031 -38.375 L 98.175781 -51.828125 C 104.65625 -63.292969 111.632812 -74.753906 118.109375 -86.214844 C 124.589844 -97.179688 131.066406 -108.640625 137.546875 -120.105469 C 140.039062 -124.589844 142.53125 -129.074219 144.523438 -133.558594 C 146.515625 -138.042969 148.511719 -143.027344 151.003906 -147.511719 C 152.496094 -150.003906 151.003906 -152 147.511719 -152.496094 C 147.015625 -152.996094 146.019531 -152.996094 145.023438 -152.996094 C 143.027344 -152.996094 141.535156 -152 140.535156 -150.503906 L 135.554688 -141.035156 C 120.105469 -111.132812 103.160156 -82.726562 83.722656 -54.820312 C 81.730469 -52.328125 79.738281 -49.835938 77.246094 -47.84375 C 77.246094 -47.34375 76.746094 -47.34375 75.25 -47.34375 C 75.25 -47.84375 75.25 -47.84375 74.753906 -48.339844 C 73.257812 -52.328125 74.753906 -56.3125 75.25 -60.300781 C 79.238281 -80.234375 83.722656 -99.671875 89.207031 -119.605469 L 101.167969 -165.953125 C 102.164062 -170.9375 102.660156 -175.917969 102.660156 -180.902344 C 102.164062 -185.386719 100.167969 -188.378906 97.179688 -189.875 L 94.1875 -191.367188 C 93.191406 -191.867188 91.699219 -192.367188 89.703125 -192.367188 C 83.226562 -192.367188 73.257812 -177.414062 70.269531 -171.433594 L 46.347656 -127.082031 C 39.867188 -115.617188 32.394531 -104.65625 24.917969 -93.191406 C 24.417969 -92.695312 23.921875 -92.195312 22.425781 -91.699219 C 20.929688 -91.199219 20.433594 -92.195312 20.433594 -95.1875 C 20.433594 -97.679688 20.433594 -99.671875 20.929688 -101.167969 C 22.425781 -107.644531 23.421875 -114.621094 24.917969 -121.597656 C 25.914062 -128.574219 27.410156 -135.554688 28.90625 -142.53125 C 29.402344 -146.019531 30.398438 -149.507812 31.394531 -152.996094 C 31.894531 -155.984375 32.890625 -159.472656 33.390625 -162.960938 C 33.886719 -165.953125 32.394531 -167.945312 29.902344 -169.441406 L 26.910156 -170.9375 L 25.914062 -170.9375 C 22.425781 -170.9375 20.433594 -168.445312 18.9375 -164.957031 L 14.453125 -152.996094 C 6.976562 -130.570312 2.988281 -107.644531 0.996094 -84.222656 C 0 -76.746094 2.988281 -71.761719 9.46875 -68.773438 L 11.460938 -68.273438 C 13.953125 -67.277344 16.445312 -66.78125 17.941406 -66.78125 C 21.925781 -66.78125 24.917969 -68.273438 27.410156 -71.761719 C 29.902344 -74.253906 31.894531 -76.746094 33.390625 -80.234375 C 41.363281 -93.691406 49.335938 -107.644531 56.8125 -121.101562 L 77.246094 -157.980469 C 77.742188 -159.472656 78.742188 -160.472656 79.238281 -160.96875 L 81.230469 -160.96875 C 81.230469 -160.96875 81.230469 -160.472656 81.730469 -159.972656 L 78.742188 -149.007812 C 72.261719 -128.574219 65.78125 -108.640625 60.300781 -87.210938 C 55.816406 -69.769531 53.824219 -56.3125 53.824219 -38.871094 C 54.320312 -35.382812 55.816406 -33.390625 58.308594 -31.894531 C 61.796875 -28.90625 65.285156 -27.410156 69.769531 -26.910156 Z M 69.769531 -26.910156 " /></g></g></g><path stroke-linecap="butt" transform="matrix(1.290082, 0, 0, 1.290614, 283.9417, 332.516547)" fill="none" stroke-linejoin="miter" d="M -0.00022765 1.999908 L 720.305923 1.999908 " stroke="#000000" stroke-width="4" stroke-opacity="1" stroke-miterlimit="4" /></svg>
    </span>
</a>

<!-- Theme switcher -->
<div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto aos-init aos-animate"
     data-bs-toggle="mode" data-aos="fade" data-aos-duration="500" data-aos-offset="50">

   @*  <input class="form-check-input" type="checkbox" id="theme-mode">
    <label class="form-check-label" for="theme-mode">
        <i class="ai-sun fs-lg"></i>
    </label>
    <label class="form-check-label" for="theme-mode">
        <i class="ai-moon fs-lg"></i>
    </label> *@
</div>

@* <div class="nav align-items-center order-lg-2 ms-n1 me-3 me-sm-2">
    <a class="nav-link fs-4 p-2 mx-sm-1" id="search_trigger_a" href="#searchModal" data-bs-toggle="modal">
        <i class="ai-search"></i>
    </a>
</div> *@
@* <div class="nav align-items-center order-lg-2 ms-n1 me-3 me-sm-2">
<a class="nav-link fs-4 p-2 mx-sm-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"><i
class="ai-search"></i></a>
</div> *@

<div class="dropdown nav d-none d-sm-block order-lg-3">
    <a class="nav-link d-flex align-items-center p-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="border rounded-circle avatar-placeholder" src="@avatar" width="48" alt="user profile pic">
        <div class="ps-2">
            <div class="fs-xs lh-1 opacity-60">Hello,</div>
            <div class="fs-sm dropdown-toggle name-placeholder">
                <span>@givenName</span>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end my-1">
        <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Account</h6>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <a class="dropdown-item disabled" href="/account/profile">
                    <i class="ai-user fs-lg opacity-70 me-2 disabled"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="javascriptVoid(0)" data-bs-toggle="modal" data-bs-target="#modalLogout">
                    <i class="ai-logout fs-lg opacity-70 me-2"></i>
                    Log Out
                </a>
            }
            else
            {
                <a class="dropdown-item" href="/auth/login">
                    <i class="ai-user-check fs-lg opacity-70 me-2"></i>
                    Sign In / Up
                </a>
            }
        }

    </div>
</div>

<!-- Mobile menu toggler (Hamburger) -->
<button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Navbar collapse (Main navigation) -->
<nav class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        @* <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Topics</a>
        <div class="dropdown-menu overflow-hidden p-0">
        <div class="d-lg-flex">
        <div class="mega-dropdown-column pt-1 pt-lg-3 pb-lg-4">
        <ul class="list-unstyled mb-0">
        <li>
        <a class="dropdown-item" href="/">Home</a>
        <span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 rounded-3 rounded-start-0"
        style="background-image: url(assets/img/megamenu/landings.jpg);"></span>
        </li>
        <li>
        <a class="dropdown-item disabled" href="/gallery">Gallery</a>
        <span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 rounded-3 rounded-start-0"
        style="background-image: url(assets/img/megamenu/landings.jpg);"></span>
        </li>
        <li>
        <a class="dropdown-item" href="/blogs">Blogs</a>
        <span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
        style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
        </li>
        <li>
        <a class="dropdown-item disabled" href="/">Web apps</a>
        <span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
        style="background-image: url(assets/img/megamenu/product-landing.jpg);"></span>
        </li>
        </ul>
        </div>
        <div class="mega-dropdown-column pb-2 pt-lg-3 pb-lg-4">
        <ul class="list-unstyled mb-0">
        <li>
        <a class="dropdown-item disabled" href="/studio">Studio</a>
        <span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
        style="background-image: url(assets/img/megamenu/creative-agency.jpg);"></span>
        </li>

        </ul>
        </div>
        <div class="mega-dropdown-column position-relative border-start z-3"></div>
        </div>
        </div>
        </li>
        *@
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/about">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/contact">Contact</a>
        </li>
        <!-- User signed in state. Account dropdown on screens > 576px -->
        <li class="nav-item dropdown d-sm-none border-top mt-2 pt-2">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="border rounded-circle avatar-placeholder" src="@avatar" width="48" alt="user profile pic">
                <div class="ps-2">
                    <div class="fs-xs lh-1 opacity-60">Hello,</div>
                    <div class="fs-sm dropdown-toggle name-placeholder">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>@givenName</span>
                        }
                        else
                        {
                            <span>guest</span>
                        }
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end my-1">
                <h6 class="dropdown-header fs-xs fw-medium text-muted text-uppercase pb-1">Account</h6>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a class="dropdown-item disabled" href="/account/profile">
                            <i class="ai-user fs-lg opacity-70 me-2"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="javascriptVoid(0)" data-bs-toggle="modal" data-bs-target="#modalLogout">
                            <i class="ai-logout fs-lg opacity-70 me-2"></i>
                            Log Out
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="/auth/login">
                            <i class="ai-user-check fs-lg opacity-70 me-2"></i>
                            Sign In / Up
                        </a>
                    }
                }
                <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">
                    Account
                </h6>
                <a class="dropdown-item disabled" href="#">
                    <i class="ai-user-check fs-lg opacity-70 me-2"></i>
                    Theming
                </a>
            </div>
        </li>
    </ul>
</nav>